/* 导入其他的less文件 */
/* 公共样式 */
@import '//at.alicdn.com/t/font_1340675_qtnq1f2lqap.css';
body,
h3,
h1,
ul,
li {
  margin: 0;
  padding: 0;
}
body {
  background-color: #f8f2f0;
}
@media screen and (device-width: 320px) {
  html {
    font-size: 16px;
  }
}
@media screen and (device-width: 375px) {
  html {
    font-size: 18.75px;
  }
}
@media screen and (device-width: 384px) {
  html {
    font-size: 19.2px;
  }
}
@media screen and (device-width: 414px) {
  html {
    font-size: 20.7px;
  }
}
.menu {
  width: 100%;
  box-sizing: border-box;
  background-color: orange;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.menu > a {
  padding-left: 0.5rem;
  font-weight: bold;
  color: white;
}
.title {
  padding: 0.75rem;
}
.title::before,
.title::after {
  content: "";
  display: table;
  clear: both;
}
.title > a {
  display: block;
  float: left;
  font-weight: bold;
}
.title > span {
  display: block;
  float: right;
  color: #ccc;
}
.item {
  text-align: center;
  background-color: white;
  margin: 0 0.75rem;
  padding: 1rem 0;
  border: 0.09375rem dashed #ccc;
}
.item > a {
  color: #c3c2c4;
  text-align: center;
}
.item > a > span:first-of-type {
  font-size: 4rem;
}
.item > a > span:last-of-type {
  display: block;
}
