/* 定义公共变量之京东红 */
/* 头部块样式 */
.wjs_header {
  height: 50px;
  line-height: 50px;
  border: 1px solid #ccc;
}
.wjs_header .row {
  height: 100%;
  text-align: center;
}
.wjs_header .row > div:nth-of-type(-n + 3) {
  border-right: 1px solid #ccc;
}
.wjs_header .row > div:nth-last-of-type(1) > .btn-danger {
  background-color: #e92322;
  border-color: #e92322;
}
.wjs_header .row > div:nth-last-of-type(1) > .btn {
  padding: 3px 15px;
}
.wjs_header .row > div:nth-last-of-type(1) > .btn-link {
  color: #333;
}
.wjs_header .row > div:nth-last-of-type(1) > .btn-link:hover {
  text-decoration: none;
}
.wjs_header .row .wjs_code {
  position: relative;
  display: block;
}
.wjs_header .row .wjs_code > img {
  position: absolute;
  display: none;
  border: 1px solid #ccc;
  border-top: none;
  top: 48px;
  left: 50%;
  transform: translateX(-50%);
}
.wjs_header .row .wjs_code:hover > img {
  display: block;
  z-index: 10;
}
/* 重写导航样式 */
.wjs_nav {
  margin-bottom: 0;
}
.wjs_nav .navbar-brand {
  height: 80px;
  line-height: 50px;
}
.wjs_nav .navbar-brand > .wjs_icon {
  font-size: 40px;
}
.wjs_nav .navbar-brand > span:first-of-type {
  color: #e92322;
}
.wjs_nav .navbar-brand > span:last-of-type {
  color: #333;
}
.wjs_nav .navbar-toggle {
  margin-top: 23px;
}
.wjs_nav .navbar-nav > li > a {
  line-height: 50px;
  font-size: 16px;
}
.wjs_nav .navbar-nav > li > a:hover,
.wjs_nav .navbar-nav > li > a:focus {
  background-color: transparent;
  border-bottom: 1px solid #e92322;
}
.wjs_nav .navbar-nav .active > a,
.wjs_nav .navbar-nav .active > a:hover,
.wjs_nav .navbar-nav .active > a:focus {
  background-color: transparent;
  border-bottom: 2px solid #e92322;
}
/* 轮播图 */
/* 移动端 */
.mobileImg {
  width: 100%;
  display: block;
}
.mobileImg > img {
  width: 100%;
  display: block;
}
/* pc端 */
.pcImg {
  width: 100%;
  height: 310px;
  display: block;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
/* 信息快 */
.wjs_info {
  padding: 30px;
}
.wjs_info .wjs_icon {
  font-size: 30px;
}
.wjs_info .row > div {
  margin-top: 20px;
}
.wjs_info .row > div > a:hover {
  color: #e92322;
}
/* 预约块 */
.wjs_reverse {
  height: 60px;
  line-height: 60px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.wjs_reverse .wjs_icon {
  font-size: 18px;
}
.wjs_reverse .col-sm-9 a:nth-last-child(2):hover {
  color: #e92322;
}
.wjs_reverse .col-sm-9 a:nth-last-child(1) {
  color: #e92322;
  border-bottom: 1px dashed #e92322;
}
.wjs_reverse .col-sm-3 {
  text-align: right;
}
.wjs_reverse .col-sm-3 a:nth-last-child(1):hover {
  color: #e92322;
}
/* 产品块 */
.wjs_product {
  clear: both;
  padding: 20px;
  background-color: #eee;
}
.wjs_product .col-xs-12 {
  overflow: hidden;
}
.wjs_product .nav-tabs > li {
  margin-top: 0;
  padding: 0 15px;
}
.wjs_product .nav-tabs > li > a {
  border: none;
  border-radius: none;
  height: 50px;
  line-height: 30px;
}
.wjs_product .nav-tabs > li > a:hover {
  border-bottom: 1px solid #e92322;
}
.wjs_product .nav-tabs > li.active > a,
.wjs_product .nav-tabs > li.active > a:hover,
.wjs_product .nav-tabs > li.active a:focus {
  background: transparent;
  border: none;
  border-bottom: 2px solid #e92322;
  border-radius: none;
}
.wjs_product .wjs_pBox {
  height: 150px;
  margin-top: 20px;
  background: white;
}
.wjs_product .wjs_pBox.active {
  background-color: #e92322;
  color: white;
}
.wjs_product .wjs_pBox.active .wjs_pRight > b,
.wjs_product .wjs_pBox.active .wjs_pRight > sub {
  color: white;
}
.wjs_product .wjs_pBox.active .wjs_pLeft {
  position: relative;
}
.wjs_product .wjs_pBox.active .wjs_pLeft::before {
  content: "\e915";
  font-family: "wjs";
  position: absolute;
  left: 0;
  top: 5px;
  font-size: 30px;
}
.wjs_product .wjs_pBox .wjs_pLeft {
  margin-right: 100px;
  height: 150px;
  padding: 5px;
  font-size: 10px;
  line-height: 20px;
}
.wjs_product .wjs_pBox .wjs_pLeft > p {
  width: 100%;
  text-align: center;
  font-size: 16px;
}
.wjs_product .wjs_pBox .wjs_pLeft .row > div:nth-of-type(even) {
  text-align: right;
}
.wjs_product .wjs_pBox .wjs_pRight {
  width: 100px;
  height: 150px;
  position: absolute;
  top: 20px;
  right: 15px;
  border-left: 1px dashed #ccc;
  box-sizing: border-box;
  padding-top: 30px;
  text-align: center;
}
.wjs_product .wjs_pBox .wjs_pRight .wjs_tip {
  width: 100%;
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  box-sizing: border-box;
}
.wjs_product .wjs_pBox .wjs_pRight .wjs_tip span {
  padding: 1px;
}
.wjs_product .wjs_pBox .wjs_pRight .wjs_tip span:hover {
  cursor: pointer;
}
.wjs_product .wjs_pBox .wjs_pRight .wjs_tip span:first-of-type {
  border: 1px solid red;
}
.wjs_product .wjs_pBox .wjs_pRight .wjs_tip span:last-of-type {
  border: 1px solid blue;
}
.wjs_product .wjs_pBox .wjs_pRight > b {
  font-size: 40px;
  color: #e92322;
}
.wjs_product .wjs_pBox .wjs_pRight > sub {
  bottom: 0;
  color: #e92322;
}
.wjs_product .wjs_pBox .wjs_pRight::before,
.wjs_product .wjs_pBox .wjs_pRight::after {
  display: block;
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #eee;
  left: -5px;
  position: absolute;
}
.wjs_product .wjs_pBox .wjs_pRight::before {
  top: -5px;
  box-shadow: 0px -1px 1px #ddd inset;
}
.wjs_product .wjs_pBox .wjs_pRight::after {
  bottom: -5px;
  box-shadow: 0px 1px 1px #ddd inset;
}
/* 新闻块 */
.wjs_news {
  padding: 20px;
}
.wjs_news .wjs_news_Title {
  font-size: 25px;
  line-height: 50px;
  border-bottom: 1px solid #ccc;
  text-align: center;
  position: relative;
}
.wjs_news .wjs_news_Title::before {
  position: absolute;
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 1px solid #ccc;
  right: -8px;
  bottom: -4px;
}
.wjs_news .nav-tabs {
  border: none;
  position: relative;
  padding-left: 15px;
}
.wjs_news .nav-tabs > .wjs_news_line {
  position: absolute;
  content: "";
  width: 1px;
  height: 100%;
  box-sizing: border-box;
  border-left: 1px dashed #e92322;
  top: 0px;
  left: 45px;
}
.wjs_news .nav-tabs > li > a {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #ccc;
  border: none;
  margin-bottom: 50px;
  text-align: center;
}
.wjs_news .nav-tabs > li > a:hover,
.wjs_news .nav-tabs > li > a:focus {
  background-color: #e92322;
}
.wjs_news .nav-tabs > li > a > span {
  color: white;
  font-size: 25px;
  line-height: 40px;
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .wjs_news .nav-tabs > li {
    margin-right: 30px;
  }
}
@media screen and (max-width: 768px) {
  .wjs_news .nav-tabs > li {
    width: 25%;
  }
}
.wjs_news .nav-tabs > li:last-of-type > a {
  margin-bottom: 0px;
}
.wjs_news .nav-tabs > li.active > a,
.wjs_news .nav-tabs > li.active > a:hover,
.wjs_news .nav-tabs > li.active > a:focus {
  border: none;
  background-color: #e92322;
}
.wjs_news .tab-content {
  padding-left: 15px;
}
.wjs_news .wjs_news_list > li {
  list-style-type: none;
  line-height: 70px;
}
/*  合作快*/
.wjs_parter {
  background-color: #eee;
  padding: 20px;
  text-align: center;
}
.wjs_parter h3 {
  text-align: center;
}
.wjs_parter ul {
  display: inline-block;
  list-style-type: none;
}
.wjs_parter ul::before,
.wjs_parter ul::after {
  content: "";
  display: table;
  clear: both;
}
.wjs_parter ul > li {
  float: left;
  padding: 0 20px;
}
.wjs_parter ul > li > a {
  font-size: 80px;
}
