/* 定义公共变量之京东红 */
@baseColor: #e92322;
/* 头部块样式 */
.wjs_header {
    height: 50px;
    line-height: 50px;
    border: 1px solid #ccc;
    .row {
        height: 100%;
        text-align: center;
        >div:nth-of-type(-n + 3) {
            border-right: 1px solid #ccc;
        }
        >div:nth-last-of-type(1) {
            >.btn-danger {
                background-color: @baseColor;
                border-color: @baseColor;
            }
            >.btn {
                padding: 3px 15px;
            }
            >.btn-link {
                color: #333;
                &:hover {
                    text-decoration: none;
                }
            }
        }
        .wjs_code {
            position: relative;
            display: block;
            >img {
                position: absolute;
                display: none;
                border: 1px solid #ccc;
                border-top: none;
                top: 48px;
                left: 50%;
                transform: translateX(-50%);
            }
            &:hover {
                >img {
                    display: block;
                }
            }
        }
    }
}